[Unit]
Description=Covid19 Watch service
After=network-online.target
Before=multi-user.target
DefaultDependencies=networkStartLimitIntervalSec=0

[Service]
User=cinemast
ExecStart=/home/cinemast/cov19/covid19-at
RestartSec=30
Restart=always

[Install]
WantedBy=mult-user.target